<!DOCTYPE HTML>
<html>
   <head>
	   <title>{{ title }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" type="image/png" href="/static/img/favicon.png">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script>
         $(document).ready(function(){
            $("#fin").click(function(){
               alert("Usuario agregado correctamente");
            });
         });
      </script>
      <!-- <script>
         $(document).ready(function(){
            $("#enlace_borrado").click(function(){
               alert("Usuario eliminado correctamente");
            });
         });
      </script> -->
   </head>
   <body style="background-color:#F5F5F5;">
	   {% block content %}
      {% endblock %}
   </body>
</html>
