{% extends "base.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:5%;">
        <a class="navbar-brand" href="/insertar/">Formulario insertar Usuarios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h2 style="text-align:center;">Listado de usuarios:</h2>
    <table class="table">
         <thead>
            <tr>
                 <th scope="col">Usuario</th>
                 <th scope="col">Contraseña</th>
                 <th scope="col">Borrar</th>
             </tr>
         </thead>
         <tbody>
             
                {% for user in usuarios %}
                <tr>
                    <th scope="col">{{ user }}</th>
                </tr>
                {% endfor %}
                {% for con in contra %}
                <tr>
                    <th scope="col">{{ con }}</th>
                </tr>
                {% endfor %}
                {% for identificador in id %}
                <tr>       
                    <th scope="col"><a href="/borrar/{{ identificador }}/">Borrar usuario</a></th>
                </tr>
                {% endfor %}
            </tr>
        </tbody>
    </table>
{% endblock %}
