<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/codigo.js"></script>
</head>

<body>
    {% block content %}
    <!-- Mensaje habilitar JavaScript -->
    <noscript>
        <p>Esta aplicación requiere para su funcionamiento el uso de JavaScript.</p>
        <p>Si lo has deshabilitado intencionadamente, por favor vuelve a activarlo.</p>
        <p>Muchas gracias.</p>
    </noscript>

    <!-- Menu barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark barra_navegacion">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <h2 class="centrado">Listado de usuarios</h2>
    <br>
    <br>

    <!-- Mensajes de borrado de usuarios -->
    <div id="usuario_eliminado" class="clase_oculta">
        <h2>El usuario ha sido eliminado correctamente.</h2>
    </div>
    <div id="error_eliminar_usuario" class="alert alert-danger centrado clase_oculta" role="alert">
        <h2>Se ha produccido un error al intentar eliminar el usuario.</h2>
    </div>

    <!-- Tabla usuarios -->
    <table class="table">
        <thead>
            <tr>
                <th class="centrado" scope="col">Usuario</th>
                <th class="centrado" scope="col">Contraseña</th>
                <th class="centrado clase_oculta" scope="col">Id</th>
                <th class="centrado" scope="col">Editar</th>
                <th class="centrado" scope="col">Borrar</th>

            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <td class="centrado" id="nombre">{{ user.name }}</td>
                <td class="centrado">{{ user.passw }}</td>
                <td class="centrado clase_oculta" id="userid">{{ user.id }}</td>
                <td class="centrado" scope="col"><a class="iduser open" href="#" data-toggle="modal"
                        data-target="#modalmodificacion"> <i class="fas fa-user-edit"></i></a></td>
                <td class="centrado" scope="col"><a class="buser" href="#"><i class="fas fa-user-times"></i></a></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="contenedor-modal">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#miModal">+</button>
    </div>

    <!-- Popup insercción de usuarios -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content popup_centrado">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% from "_macro.html" import render_field %}
                    <div class="centrado">
                        <form name="insert" id="insertform" method="POST">
                            <div class="row control-group filas">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b>{{ render_field(form.usuario, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>

                            <div class="row control-group filas">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b id="campoclave">{{ render_field(form.clave, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>

                            <div class="row control-group filas">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b id="campoconfirmar">{{ render_field(form.confirm, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>
                            <br>

                            <div id="success"></div>
                            <div clas="row">
                                <div class="form-group col-xs-12 boton">
                                    <input type="reset" class="btn btn-info" value="Reset">
                                    <button type="submit" class="clase_oculta" id="fin">Insertar</button>
                                </div>
                            </div>
                        </form>
                        <div id="usuario_insertado" class="clase_oculta">
                            <h2>El usuario ha sido creado correctamente.</h2>
                        </div>
                    </div>
                </div>
                <p class="mensaje_error clase_oculta" id="errorborrado"> Este usuario ya existe.</p>
            </div>
        </div>
    </div>
    </div>
    
    <!-- Popup modificacion clave de usuario -->
    <div class="modal fade" id="modalmodificacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content popup_centrado">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% from "_macro.html" import render_field %}
                    <div class="centrado">
                        <p>Introduzca la contraseña nueva que le quiere asignar al usuario.</p>
                        <form name="modalmodificacion" id="modform" method="POST">
                            <div class="row control-group filas">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b
                                        id="campoclave2">{{ render_field(form_modificar.clave2, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>

                            <div class="row control-group filas">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b
                                        id="campoconfirmar2">{{ render_field(form_modificar.confirm2, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>
                            <br>

                            <div class="row control-group filas clase_oculta">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <b
                                        id="campoidusuario">{{ render_field(form_modificar.idusuario, class='form-control') }}</b>
                                    <p class="help-block text-danger">{{ error }}</p>
                                </div>
                            </div>

                            <br>
                            <div id="success2"></div>
                            <div clas="row">
                                <div class="form-group col-xs-12 boton">
                                    <input type="reset" class="btn btn-info" value="Reset">
                                    <button type="submit" class="clase_oculta" id="fin2">Ejecutar</button>
                                </div>
                            </div>
                        </form>
                        <div id="usuario_editado" class="clase_oculta">
                            <h2>Clave modificada.</h2>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% endblock %}

</body>

</html>