<!DOCTYPE HTML>
<html>
   <head>
	   <title>{{ title }}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" type="image/png" href="/static/img/favicon.png">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
      <script>
        $(document).ready(function(){
           $(".buser").click(function(){
               var row = $(this).closest("tr");
               var userid = row.find("#userid").text();

               console.log(userid);
               $.ajax({
                   url:'/borrar/'+userid+'/',
                   type:'post',
                   success:function(response) {
                        alert("Usuario borrado correctamente");                        
                        row.css("display", "none");                                                             
                       }
                   });
           });
        });
     </script>  
   </head>
   <body style="background-color:#F5F5F5;">
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:5%;">
        <a class="navbar-brand" href="/insertar/">Formulario insertar Usuarios</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <h2 style="text-align:center;">Listado de usuarios</h2>
    <br>
    <br>
    <table class="table">
         <thead>
            <tr>                
                 <th scope="col" style="text-align:center;">Usuario</th>
                 <th scope="col" style="text-align:center;">Contraseña</th>
                 <th scope="col" style="text-align:center;display:none;">Id</th>
                 <th scope="col" style="text-align:center">Borrar</th>
             </tr>
         </thead>
         <tbody> 
                {% for user in usuarios %}
                <tr> 
                    <td style="text-align:center;">{{ user.name }}</td>
                    <td style="text-align:center;">{{ user.passw }}</td>
                    <td id="userid" style="text-align:center;display:none;">{{ user.id }}</td>
                    <td scope="col" style="text-align:center;"><a class="buser" href="#">X</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>