{% extends "base.html" %}
{% block content %}
<h2 style="text-align:center;">Listado de usuarios:</h2>
<div style="margin-left:42%;display:block;">
    <table class="table" style="width:15%;float:left;">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
            </tr>
        </thead>
        <tbody>
            {% for user in usuarios %}
            <tr>
                <th scope="col">{{ user }}</th>
             </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table" style="width:15%;">
        <thead>
            <tr>
                <th scope="col">Contraseña</th>
            </tr>
        </thead>
        <tbody>
            {% for con in contra %}
            <tr>
                <th scope="col">{{ con }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for user in usuarios %}
        <type="button" class="btn btn-primary"><a>Eliminar {{ user }}</a></button>
    {% endfor %}
</div>

{% endblock %}
